@import '../../../assets/colors';

.MusicTeachersContainer{
  .MusicTeachers-filter{
    position: relative;
    width: 59px;
    top: -30px;
    right: -70%;
    padding: 12px;
    border-radius: 36px;
    background-image: $button-gradient3;
    &:hover{
      cursor: pointer;
    }
  }
  .MusicTeachers{
    padding: 30px;
    padding-top: 0;
  }
}