.WelcomeFormContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  button {
    width: 80%;
    padding: 20px;
    border: none;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 20px;
    &:hover{
      cursor: pointer;
    }
  }
  span{
    margin-bottom: 20px;
  }
}