@import '../../assets/colors';

.themeBarContainer{
  padding: 10px;
  padding-bottom: 40px;
  background-color:$secondary-light;
  color: $primary-dark;
  font-weight: bold;
  &-head  {
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    
    img {
      width: 30px;
      margin-right: 10px;
      &:hover{
        cursor: pointer;
      }
    }
    span {
      font-size: 30px;
    }
  }
}