@import '../../assets/colors';

.MusicalInstrumentContainer {
  box-shadow: 0 10px 6px -6px #777;
  padding: 20px;
  width: 33%;
  text-decoration: none;
  background-color: $terciary-light;
  color: $primary-dark;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
  .MusicalInstrument{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}