@import '../../assets/colors';

.feedbackContainer{
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.404);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation-name: appear;
  animation-duration: 0.5s;
  z-index: 100;
}

@keyframes appear {
  from {opacity:  0;}
  to {opacity: 1;}
}

.feedbackContainerMsg{
  width: 80%;
  margin: 70px auto;

  padding: 20px;
  border: 1px solid rgb(231, 231, 231);
  overflow: hidden;
  animation-name: grow;
  animation-duration: 0.5s;
  background-color: white;
  z-index: 200;
  h2 {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 0.5px solid rgb(196, 196, 196);
    margin-bottom: 20px;
  }
  p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  button {
    padding: 10px;
    width: 90px;
    border: none;
    border-radius: 25px;
    background-image: $button-gradient3;
    float: right;
    &:hover{
      cursor: pointer;
    }
  }
}

@keyframes grow {
  from {opacity: 0; margin-top: 100px}
  to {opacity: 1; margin-top: 70px}
}