.sidebar{
  padding: 10px;
  width: 70%;
  height: 100%;
  position: absolute;
  color: black;
  background-color: rgb(247, 247, 247);
  top: 0;
  bottom: 0;
  z-index: 100;
  animation-name: slideFromLeftToRight;
  animation-duration: 0.5s;
  box-shadow: 19px -4px 79px -12px #777;
  &-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    img{
      width: 30px;
      cursor: pointer;
    }
  }

  &-link {
    font-size: 15px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    img{
      width: 30px;
      margin-right: 10px;
    }
    &:hover{
      cursor: pointer;
    }
  }

  &-user{
    font-size: 20px;
    font-weight: bold;
  }
  * {
    margin-bottom: 20px;
  }
}

@keyframes slideFromLeftToRight {
  from {opacity: 0;transform: translateX(-10%);}
  to {opacity: 1;transform: translateX(0%);}
}