$primary-light: #fafffd;
$secondary-light: #1cb5e0;
$terciary-light: #f6f4f3;
$primary-dark: #000046;
$button-gradient: linear-gradient(to right, #1cb5e0, #000046);
$button-gradient2: linear-gradient(to right, #000046, #1cb5e0);
$button-gradient3:linear-gradient(to bottom right, #1cb5e0, #087ca7);